$gray-light: #f2f2f2;
$blue-dark: #2b3642;
$blue: #007aff;
$white: #fff;
$white-shadow: #cecece;
$gray-dark: rgb(141, 139, 139);
$button-color: #c6df9d;
$button-active-color: #7bba00;
$blue-rocket: #0009b7;
