// Break-points
$breakpoint-desktop: 1440px;
$breakpoint-tablet-pro: 1024px;
$breakpoint-tablet: 700px;
$breakpoint-mobile: 500px;

@media screen and (max-width: $breakpoint-tablet-pro) {
  .container {
    width: 98%;
    margin: 0 auto;
    .col-3 {
      width: 25%;
    }
    .col-9 {
      width: 75%;
    }
  }
  .space-card {
    width: 37%;
    margin: 0 20px 20px 0;
  }
}

@media screen and (max-width: $breakpoint-tablet) {
  .container {
    width: 98%;
    margin: 0 auto;
    .col-3 {
      width: 35%;
    }
    .col-9 {
      width: 65%;
    }
  }
  .space-card {
    width: 87%;
    margin: 0 20px 20px 0;
  }
}
@media screen and (max-width: $breakpoint-mobile) {
  .container {
    width: 98%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    .col-3 {
      width: 100%;
      margin-bottom: 25px;
      .box-container {
        width: 87%;
        margin: 0 auto;
      }
    }
    .col-9 {
      width: 100%;
      .space-container {
        margin: 0 auto;
        .box-container {
          margin: 0 auto 20px auto;
        }
      }
    }
  }
  .space-card {
    width: 87%;
    margin: 0 20px 20px 0;
  }
}
